
#article
{
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: var(--gap);

    grid-template-areas:
        'article-main article-aside'
        'article-add empty';
}

/* @media(max-width:996px)
{
    #article
    {
        grid-template-columns: repeat(2,1fr);
    }
} */

@media(max-width:996px)
{
    #article
    {
        grid-template-columns: 1fr;

        grid-template-areas:
            'article-main'
            'article-add'
            'article-aside';
    }
}

/* ////////////
основна шпальта
//////////// */
#article-main
{
    grid-area: article-main;
    background: var(--white);

    display: grid;

    grid-template-columns: 180px 1fr;
    grid-gap: var(--gap);

    grid-template-areas:
        'article-main-picture article-main-picture'
        'article-main-aside article-main-header'
        'article-main-aside article-main-main';
        
    grid-template-rows: repeat(3, min-content);
}


@media(max-width:1100px)
{
    #article-main
    {
        grid-template-columns: 1fr;

        grid-template-areas:
            'article-main-picture'
            'article-main-header'
            'article-main-aside'
            'article-main-main'
    }
}

#article-main header,
#article-main main
{
    padding: 0 var(--gap);
}

#article-picture
{
    grid-area: article-main-picture;
}

#article-picture span
{
    padding: 0 var(--gap);
}

#article-main > header
{
    grid-area: article-main-header;
}

#article-main > header h1
{
    margin: 0 0 16px;
    line-height: 1;
}

@media(max-width:996px)
{
    #article-main > header h1
    {
        font-size: 30px;
    }
}

#article-main > header p
{
    margin: 0;
}

#article-main > aside
{
    grid-area: article-main-aside;
    padding: 0 0 0 var(--gap);
}

@media(max-width:776px)
{
    #article-main > aside
    {
        padding: 0 var(--gap);
        display: flex;
    }

    #article-main > aside .share-buttons
    {
        margin: var(--gap) var(--gap) 0 0;
    }
}

#article-main > aside ul
{
    display: block;
}

#article-main > aside li
{
    display: block;
    margin: 0 0 13px;
}

#article-main > aside li a
{
    text-decoration: none;
    color: var(--black);
    font-size: 15px;
    line-height: 1.5;
    display: block;
    transition: .5s;
}

#article-main > aside li a:hover
{
    color: var(--red);
}

#article-main > main
{
    grid-area: article-main-main;
}

#article-main > main p
{
    margin: 0 0 var(--gap);
}

/* ////////////////////////
додаткові новини у сайдбарі
//////////////////////// */
#article-aside
{
    grid-area: article-aside;
}

/* //////////////////////////////
додаткові новини внизу (3 новини)
////////////////////////////// */
#article-add
{
    grid-area: article-add;
}

@media(max-width:996px)
{
    #article-add .block-3
    {
        grid-template-columns: repeat(2,1fr);
    }

    #article-add article:nth-child(3)
    {
        display: none;
    }
}

@media(max-width:776px)
{
    #article-add .block-3
    {
        grid-template-columns: 1fr;
    }

    #article-add article:nth-child(3),
    #article-add article:nth-child(2)
    {
        display: none;
    }
}
