/* ////////////////////////
сайдбар - сіра бокова смуга
//////////////////////// */

/* сайдбар (хедінг над ним) */
.aside
{
    /* height: calc(100% - 70px); */
    padding: 30px 20px 30px 16px;
    background: var(--bg-aside);
    display: flex; 
    flex-flow: column;
    margin-top: 70px;
}

.aside .heading
{
    margin: -100px -18px 0;
}

.aside article
{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 13px;
}

.aside article:first-of-type
{
    margin-top: 30px;
}

.aside .title-15
{
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px solid var(--gray-3);
}

.aside .title-15 a
{
    color: var(--black);
    font-weight: 400; /* regular */
}

.aside time
{
    font-size: 12px;
    line-height: 20px;
    color: var(--gray-1);
}

/* червоним жирним */
.aside article.red h3 a
{
    font-weight: bold;
    color: var(--red);
}

.aside article.red time
{
    font-weight: bold;
    color: var(--red);
}


/* чорним жирним */
.aside article.black h3 a
{
    font-weight: bold;
    color: var(--black);
}

.aside article.black time
{
    font-weight: bold;
    color: var(--black);
}

.aside article h3 a:hover
{
    color: var(--red);
}

/* //////////////
реклама | adverty 
////////////// */
.aside .reklama
{
    display: block;
    margin: 0 -20px 20px -16px;
}

/* ///////////////////////////////////
кнопка внизу притиснена і поцентрована
/////////////////////////////////// */
/* .aside .button
{
    margin: auto auto 0;
} */

/* ////////
модифікатор
//////// */

/* сайдбар (хедінг всередині) */
.aside.inner-heading
{
    /* height: 100%; */
    padding: 0 20px 30px 16px;
    margin-top: 0;
}


.aside.inner-heading .heading
{
    margin: 0;
}

.aside.inner-heading article:first-of-type
{
    margin-top: 0;
}