

/* /////////////////////////////
перший блок на головній сторінці
///////////////////////////// */
#hot-block
{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: 300px 1fr 300px;

    grid-template-rows: repeat(2,auto) 1fr auto;

    grid-template-areas: 
        'hot-aside hot-single hot-single'
        'hot-aside hot-3 hot-3'
        'hot-aside hot-1-2 hot-1';
}

@media(max-width:996px)
{
    #hot-block
    {
        grid-template-columns: 300px repeat(2,1fr);
    }
}

@media(max-width:776px)
{
    #hot-block
    {
        grid-template-columns: repeat(2,1fr);

        grid-template-areas: 
        'hot-single hot-single'
        'hot-3 hot-3'
        'hot-aside hot-aside'
        'hot-1-2 hot-1';
    }
}

@media(max-width:600px)
{
    #hot-block
    {
        grid-template-columns: 1fr;

        grid-template-areas: 
        'hot-single'
        'hot-3'
        'hot-aside'
        'hot-1-2'
        'hot-1';
    }
}

#hot-aside
{

}

/* single */
#hot-single
{
    grid-area: hot-single;
}

/* 3 article */
#hot-3
{
    grid-area: hot-3;
}

@media(max-width:996px)
{
    #hot-3
    {
        grid-template-columns: repeat(2,1fr);
    }
    #hot-3 article:nth-child(3)
    {
        display: none;
    }
}

@media(max-width:399px)
{
    #hot-3 .desc
    {
        padding: 16px 10px 20px;
    }
}

/* aside */
#hot-aside
{
    grid-area: hot-aside;
}

/* 1 + 2 */
#hot-1-2
{
    grid-area: hot-1-2;

    display: grid;
    grid-gap: 20px;
}

@media(max-width:996px) {
   #hot-1-2 .block-2
   {
       grid-template-columns: 1fr;
   }
}

@media(max-width:600px)
{
    #hot-1-2 .block-2
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:399px)
{
    #hot-1-2 .block-2 .desc
    {
        padding: 16px 10px 20px;
    }
}


/* 1 (klychko) */
#hot-1
{
    grid-area: hot-1;
}









/*
TODO: after + before background
*/