/* //////////////////
великий одинокий блок 
////////////////// */

.block-single
{
    background: var(--white);
    /* padding: 0 20px 50px; */
    /* padding: 0 0 50px; */
    /* margin: 0 0 20px; */
}

/* .block-single picture
{
    display: block;
    margin: 0 -20px 20px; 
} */

.block-single .title-30,
.block-single .title-24
{
    line-height: 1;
    margin: 0 0 var(--selfgap);
}

.block-single time
{
    margin: 0 0 7px; 
}

.block-single p
{
    margin: 0 0 var(--selfgap);
}

/* /////////////////
вставлений заголовок
///////////////// */
.block-single .heading
{
    background: var(--bg-main);
}