/* ///////
три анонси
/////// */

.block-3
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-gap: 0 30px; */
    grid-gap: 0 var(--gap);
}

/* вкладений блок */
.content .block-3
{
    grid-gap: var(--gap);
}

/* TODO: .content .block-3*/

@media(max-width:996px)
{
    .content .block-3
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:776px)
{
    .content .block-3
    {
        grid-template-columns: 1fr;
    }
}

/* TODO: .content .block-3*/
.block-3 article
{
    background: var(--white);
    position: relative;
    z-index: 1;

}

/* TODO: .content .block-3*/
@media(max-width:996px)
{
    .content .block-3 article:nth-child(3)
    {
        display: none;
    }
}

.block-3 .title-18
{
    margin: 0 0 6px;
}

/* чорна плашка */
.block-black .block-3 article
{
    background: transparent;
    outline: 1px solid var(--border-longread);
}

.block-black .block-3 .title-18 a
{
    color: var(--white);
}

.block-black .block-3 .title-18 a:hover
{
    opacity: .5;
}

.block-black .block-3 time
{
    color: var(--white);
}