/* ///////////////////////
article -- основна шпальта
/////////////////////// */

#article
{
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-gap: 0 20px;
    
    grid-template-rows: min-content;
    background: var(--white);

    grid-template-areas: 
        'article-picture article-picture'
        'article-aside article-header'
        'article-aside article-main'
}

@media(max-width:776px)
{
    #article
    {
        grid-template-columns: 1fr;
        grid-gap: 0;

        grid-template-areas: 
            'article-picture'
            'article-header'
            'article-aside'
            'article-main'
    }    
}

/* головна картинка */
#article > picture
{
    grid-area: article-picture;
    margin: 0 0 30px;
}

/* допоміжний блок (шаринг + 3 новини) */
#article aside
{
    grid-area: article-aside;
    padding: 0 0 0 30px;
}

@media(max-width:776px)
{
    #article aside
    {
        padding: 0 20px;
        display: flex;
    }

    #article .share-buttons
    {
        margin: 20px 20px 0 0;
    }
}

#article aside ul
{
    display: block;
}

#article aside li
{
    display: block;
    margin: 0 0 13px;
}

#article aside li a
{
    text-decoration: none;
    color: var(--black);
    font-size: 15px;
    line-height: 1.5;
    display: block;
    transition: .5s;
}

#article aside li a:hover
{
    color: var(--red);
}

/* заголовок */
#article > header
{
    grid-area: article-header;
}

/* 1 абзац у хедері */
#article > header p
{
    margin: 0;
}

@media(max-width:776px)
{
    #article > header
    {
        padding: 0 20px;
    }
}

#article header h1
{
    margin: 0 0 16px;
    line-height: 1;
}

@media(max-width:996px)
{
    /* заголовок */
    #article header h1
    {
        font-size: 30px;
    }
}

#article header time
{
    margin: 0 0 16px;
}

/* контент */
#article main
{
    grid-area: article-main;
}

@media(max-width:776px)
{
    #article main
    {
        padding: 0 20px;
    }    
}

#article main p
{
    margin: 0 0 20px;
}

/* /////////////////////////////////
вставка картинки з обтіканням справа
///////////////////////////////// */

#article main figure
{
    float: left;
    width: 50%;
    margin: 0 35px 60px 0; 
    position: relative;
    top: 8px;
}

@media(max-width:776px)
{
    #article main figure
    {
        float: none;
        width: calc(100% - 40px);
        margin: 0 20px 30px;
    }
}

#article main figure picture
{
    display: block;
    margin: 0 0 18px; 
}

#article main figure figcaption
{
    font-size: 13px;
    font-weight: 300
}

/* ///////////////////////////
картинка на весь екран (відео)
/////////////////////////// */
#article main .video
{
    margin: 0 0 20px;
}

#article main .video a
{
    position: relative;
} 