/* ///////
2 анонси
/////// */

.block-2
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

/* вкладений блок */
.content .block-2
{
    grid-gap: 20px;
}

.block-2 article
{
    background: var(--white);
    padding: 0 20px 20px;
    margin: 0 0 20px;
}

.block-2 picture
{
    display: block;
    margin: 0 -20px 23px; 
}

/* вкладений блок */
.content .block-2 picture
{
    /* display: block; */
    margin: 0 -20px 18px; 
}

.block-2 .title-18
{
    /* margin: 0 0 16px; */
    margin: 0 0 6px;
}