
/* ///////////////////
4 анонси у блоці відео
/////////////////// */

.block-4
{
    display: grid;
    grid-template-columns: repeat(3,1fr) 410px;
    grid-gap: 18px; 
}

/* ////////////////////////////////////
4 блоки використовуються тільки у відео 
//////////////////////////////////// */

.block-4 a
{
    display: block;
    outline: 1px solid var(--border-video);
    text-decoration: none;
    transition: .5s;
}

.block-4 a .title-18
{
    color: var(--white);
    margin: 0;
    display: block;
    transition: .5s;
}

.block-4 a:hover .title-18
{
    opacity: .4;
}

/* ////////////
4 блок -- стрім
//////////// */
.block-4 a:last-child
{
    position: relative;
}

.block-4 a:last-child picture
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    height: 100%!important;
}

.block-4 a:last-child img,
.block-4 a:last-child source
{
    object-fit: cover;
    height: 100%!important;
    /* width: 100%!important; */
}

.block-4 a:last-child .title-18
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 2;
}

.block-4 a:last-child .heading
{
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--white);
    z-index: 2;
    height: auto;
}

.block-4 time
{
    color: var(--white);
    /* margin: 16px 18px 0; */
    margin: 10px 0 0;
    display: none;
}


/* //////////////////////
4 відео блоки на головній
////////////////////// */
@media(max-width:996px)
{
    .block-4
    {
        grid-template-columns: repeat(2,1fr) 380px;
    }

    /* 3 артикль ховаємо назавжди */
    .block-4 a:nth-child(3)
    {
        display: none;
    }
}

@media(max-width:776px)
{
    .block-4
    {
        grid-template-columns: repeat(2,1fr);
    }

    /* 4 артикль розтягуємо на всю ширину + кладемо вниз під 2 інших */
    .block-4 a:nth-child(4)
    {
        height: 320px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: -3;
        grid-column-end: -1;
    }

    .block-4 a
    {
        outline: none;
    }

    .block-4 time
    {
        display: block;
    }

    .block-4 a:last-child .title-18
    {
        bottom: 20px;
    }

    /* прибрати відступи */
    .block-4 .desc
    {
        padding: 20px 0 0;
    }
}

@media(max-width:450px)
{
    .block-4 a:nth-child(4)
    {
        height: 200px;
    }
}

/* 
@media(max-width:450px)
{
    .block-4
    {
        grid-template-columns: 1fr;
    }

    .block-4 a:nth-child(4)
    {
        height: 200px;
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
        grid-column-end: auto;
    }
} */