/* //////////////
анонс над анонсом
////////////// */
.block-1 article
{
    margin: 0 0 20px;
    background: var(--bg-main);
    outline: 1px solid var(--border-klychko)
}

.block-1 .title-18
{
    margin: 0 0 6px; 
}

.block-1 time
{
    margin: 0 0 10px; 
}

.block-1 p
{
    /* font-weight: 400; */
    margin: 0;
    font-size: 15px;
}