.home-video
{
    background: var(--red);
    padding: 50px 0 130px;
    /* додатковий відступ */
    margin: 75px 0 00;
    min-height: 1000px;

    /* overflow: hidden; */
    /* position: relative; */
    /* z-index: 2; */
}

/* 1 великий блок */
.video-single
{
    /* outline: 1px solid var(--border-video);  */
    background: var(--red);
    display: grid;
    grid-template-columns: 1fr 430px;
    margin: 0 0 20px;
    
    /* video page: grid-gap: 20px */
}

.video-single-content
{
    border: 1px solid var(--border-video);
    border-left: none;
    padding: 30px;
    color: var(--white);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.video-single-content p{
    font-size: 16px;
    margin: 0;
}