.home-video
{
    background: var(--red);
    /* padding: 50px 0 130px; */
    padding: 50px 0 100px;
    /* додатковий відступ */
    margin: 75px 0 50px;
    /* min-height: 1000px; */
}

@media(max-width:996px) {
    .home-video
    {
        padding: 0 0 40px;
        margin: var(--gap) 0 0;
        /* min-height: 100px; */
    }
}

/* 1 великий блок */
.video-single
{
    background: var(--red);
    display: grid;
    grid-template-columns: 1fr 430px;
    margin: 0 0 var(--gap);

    outline: 1px solid var(--border-video);
    align-items: center;
}

@media(max-width:776px)
{
    .video-single
    {
        grid-template-columns: 1fr;
        outline: none;
    }

    .video-single > a
    {
        display: block;
        margin: 0 -20px 0;
    }
}

/* video.html */
@media(max-width:1300px)
{
    #video .video-single
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:996px)
{
    #video .video-single
    {
        grid-template-columns: 1fr;
        outline: none;
    }
}
/* video.html */

.video-single-content
{
    padding: 30px;
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#video .video-single-content
{
    padding: 0 30px;
}

@media(max-width:1300px)
{
    #video .video-single-content
    {
        padding: 30px;
    }    
}

@media(max-width:996px)
{
    #video .video-single-content
    {
        padding: var(--gap) 0 30px;
    }    
}

@media(max-width:776px)
{
    .video-single-content
    {
        /* padding: 30px 0; */
        padding: var(--gap) 0 30px;
    }
}

@media(max-width:450px)
{
    .video-single-content
    {
        padding: 30px 0 0;
    }
}

.video-single-content .title-30
{
    margin: 0 0 var(--selfgap);
}

.video-single-content time
{
    color: var(--white);
    font-size: 12px;
    margin: 0 0 12px;
}

.video-single-content p
{
    font-size: 16px;
    margin: 0;
}
