
/* /////////
модифікатори 
///////// */
#longread
{
    padding: 40px 0;
    /*  */
    margin: auto;
    background: var(--white);
}


/* вузький блок */
#longread .think
{
    width: 680px;
    margin: auto;
}



/* фото-скрол */



/* цифрові скіли */



/* 3 фото */





