/* //////////////////////
модифікатори для девайсів
////////////////////// */

@media(max-width:996px)
{
    #block-2
    {
        grid-template-columns: repeat(2,1fr);
    }

    #block-2 article:nth-child(3)
    {
        display: none;
    }
}

@media(max-width:996px)
{
    #block-4 .block-2
    {
        grid-template-columns: 1fr;
    }    
}
/* TODO: #block-4 .block-2 >996*/

/*

*/
@media(max-width:776px)
{
    #block-678
    {
        grid-template-columns: repeat(2,1fr);
    }

    #block-8,
    #block-8-1
    {
        display: none;
    }
}

/* max-width:450px */
@media(max-width:600px)
{
    #block-678
    {
        grid-template-columns: 1fr;
    }

    #block-6
    {
        grid-column-start: 1;
        grid-column-end: -1;

        grid-row-start: 1;
        grid-row-end: 2;
    } 

    #block-6-1
    {
        grid-column-start: 1;
        grid-column-end: -1;

        grid-row-start: 2;
        grid-row-end: 3;
    }

    #block-7
    {
        grid-column-start: 1;
        grid-column-end: -1;

        grid-row-start: 3;
        grid-row-end: 4;
    }

    #block-7-1
    {
        grid-column-start: 1;
        grid-column-end: -1;

        grid-row-start: 4;
        grid-row-end: 5;
    } 

    #block-8
    {
        display: flex;
        grid-column-start: 1;
        grid-column-end: -1;

        grid-row-start: 5;
        grid-row-end: 6;
    }

    #block-8-1
    {
        display: block;
        grid-column-start: 1;
        grid-column-end: -1;

        grid-row-start: 6;
        grid-row-end: 7;
    }    

}






@media(max-width:996px)
{
    .block-4
    {
        grid-template-columns: repeat(2,1fr) 380px;
    }

    .block-4 a:nth-child(3)
    {
        display: none;
    }
}

@media(max-width:776px)
{
    .block-4
    {
        grid-template-columns: repeat(2,1fr);
    }

    .block-4 a:nth-child(4)
    {
        height: 500px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: -3;
        grid-column-end: -1;
    }

    .block-4 a
    {
        outline: none;
    }

    .block-4 time
    {
        display: block;
    }

    .block-4 a:last-child .title-18
    {
        bottom: 20px;
    }
}

/* /////////////////////////////////////////////////////
світлий блок (тільки головна) Перший західний рекомендує
///////////////////////////////////////////////////// */
@media(max-width:996px)
{
    .white-background::before
    {
        display: none;
    }    
}

@media(max-width:776px)
{
    .block-white .block-3
    {
        
    }
}

/* ////////////////////////////
темний блок, головна + лонгріди
//////////////////////////// */
@media(max-width:996px)
{
    .black-background::before
    {
        display: none;
    }
    .block-black
    {

    }
}
