/* //////////////////////
модифікатори для девайсів
////////////////////// */


@media(max-width:776px)
{
    .content,
    .content.reverse
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:600px)
{
    #block-hot .content.reverse
    {
        grid-template-columns: 1fr;
    }
}

/* ////////////////////////////////
перший контент на головній сторінці
//////////////////////////////// */

/* сайдбар, який має показуватися тільки на мобільних */
#mobile-aside
{
    display: none;
}

@media(max-width:996px)
{   
    #block-hot .block-3
    {
        grid-template-columns: repeat(2,1fr);
    }

    #block-hot .block-3 article:nth-child(3)
    {
        display: none;
    }

    #block-hot .block-2
    {
        grid-template-columns: 1fr;
    }
}

@media(max-width:600px)
{
    #block-hot .block-2
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:450px)
{
    #block-hot .block-3,
    #block-hot .block-2
    {
        grid-template-columns: 1fr;
    }

    #block-hot .block-3 article,
    #block-hot .block-2 article
    {
        margin: 0;
    }
}

@media(max-width:776px)
{
    #block-hot
    {
        grid-template-columns: 1fr;
    }

    #desktop-aside
    {
        display: none;
    }

    #mobile-aside
    {
        display: block;
    }
}


/* TODO: #block-4 .block-2 >996*/

@media(max-width:776px)
{
    #block-abcdef
    {
        grid-template-columns: repeat(2,1fr);
    }

    #block-c,
    #block-f
    {
        display: none;
    }
}

/* abc -- titles, def -- articles */
@media(max-width:600px)
{
    #block-abcdef
    {
        grid-template-columns: 1fr;
    }

    #block-a,
    #block-b,
    #block-c,
    #block-d,
    #block-e,
    #block-f
    {
        grid-column-start: 1;
        grid-column-end: -1;
        /* for articles */
        margin: 0;
    }

    #block-a
    {
        grid-row-start: 1;
        grid-row-end: 2;
    } 

    #block-d
    {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #block-b
    {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #block-e
    {
        grid-row-start: 4;
        grid-row-end: 5;
    } 

    #block-c
    {
        display: flex;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    #block-f
    {
        display: block;
        grid-row-start: 6;
        grid-row-end: 7;
    }    

}





/* /////////////////////////////////////////////////////
світлий блок (тільки головна) Перший західний рекомендує
///////////////////////////////////////////////////// */
@media(max-width:996px)
{
    .white-background::before
    {
        display: none;
    }    
}

@media(max-width:776px)
{
    .block-white .block-3
    {
        grid-template-columns: repeat(2,1fr);
    }
    
    /* 1 артикль на всю ширину */
    .block-white .block-3 article:nth-child(1)
    {
        grid-row-start: 1;
        grid-row-end: 2;
        
        grid-column-start: 1;
        grid-column-end: -1;
    }
    /* 2 і 3 лишаютья поруч під 1 артиклем */
    
}

/* ////////////////////////////
темний блок, головна + лонгріди
//////////////////////////// */
@media(max-width:996px)
{
    .black-background::before
    {
        display: none;
    }

    .block-black .block-3
    {
        grid-template-columns: repeat(2,1fr);
    }

    .block-black .block-3 article:nth-child(3)
    {
        display: none;
    }
}

@media(max-width:776px)
{
    .block-black .block-3
    {
        grid-template-columns: 1fr;
    }

    .block-black .block-3 article:nth-child(2)
    {
        display: none;
    }

    .block-black
    {
        min-height: 100px;
    }

    .black-background
    {
        padding: 0;
    }
}

