/* посторінкова навігація */
.pagination
{
    text-align: center;
    margin: 20px 0;
}

/* якщо потрібно винести за блок */
.button-outer .pagination
{
    position: absolute;
    bottom: -130px; 
    left: calc(50% - 100px);
}

.pagination li
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pagination li a
{
    display: inline-block;
    padding: 5px 10px;
    background: var(--red);
    color: var(--white);
    transition: .5s;
    text-decoration: none;
}

.pagination li a:hover
{
    background: var(--blue);
}

.pagination svg
{
    height: 14px;
    fill: var(--blue)
}

.pagination li.active a
{
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
}

.pagination li.disabled a
{
    color: var(--white);
    font-weight: bold;
    pointer-events: none;
}