@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root
{
    --red: #bb2538;
    --black: #000;
    --white: #fff;
    --gray-1: #5e5a5b;
    /* icons, article bg ... */
    --pink: #c44c5b;
    /* #video aside bg */

    --gray-2: #58585a;
    --gray-3: #e6e6e6;
    /* aside hr */

    --bg-aside: #f0f0f2;
    /* aside bg */

    --bg-main: #f7f7f8;
    /* main bg */

    --bg-hr: #eaebed;
    /* hr */

    --blue: #1570bd;
    /* meter */

    --border-vidget: #ededed;
    --border-klychko: #e5e5e7;
    --border-video: #d06774;
    /* home video */

    --border-pink: #d6828d;
    /* border video */

    --border-longread: #8a8b8d;
    --border-category: #dde0e3;

    --fb: #515eb3;
    --tw: #6ab8ff;
    --tg: #389ce9;
}

html, body
{
    height: 100%;
}

body
{
    background: var(--bg-main);
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;

    /* overflow-x: hidden; */
    /* height: 100%; */
}

p
{
    margin: 0 0 30px;
}

h1,h2,h3,h4,h5,h6
{
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

img,
source
{
    max-width: 100%!important;
    height: auto!important;
    vertical-align: middle;
}

picture img,
picture source
{
    width: 100%;
    height: auto;
}


/* /////////////
блок з розпоркою
///////////// */

#body
{
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

#body::after
{
    content: '';
    display: block;
    height: 350px;
}

/* ////////////////////////////////////////
блок зі сайдбаром (зліва) і мейном (справа)
//////////////////////////////////////// */
.content
{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
}

/* лівий сайдбар */
.sidebar
{
    order: 1;
}

.main
{
    order: 2;
}

/* лінки на сторінці */
.main a
{
    color: var(--blue);
    text-decoration: underline;
}

.main a:hover,
.main a:focus
{
    color: var(--red);
    text-decoration: none;
}

.main ul,
.main ol
{
    margin: 30px 0 30px 30px;
}

.main li
{
    margin: 10px 0;
}


/* ///////////////////////////////////////
блок з мейном (зліва) і сайдбаром (справа)
/////////////////////////////////////// */
.content.reverse
{
    grid-template-columns: 1fr 300px;
}

@media(max-width:776px) {
    .content.reverse
    {
        /* grid-template-columns: repeat(2,1fr); */
        grid-template-columns: 1fr;
    }
}

.content.reverse .main
{
    order: 1;
}

.content.reverse .sidebar
{
    order: 2;
}



/* //////////////
дата повідомлення
////////////// */
time
{
    display: block;
    font-size: 11px;
    line-height: 20px;
    color: var(--gray-1);
    text-transform: uppercase;
}
/* [video] буде біла або червона дата */
/* margin різні у різних блоках */


/* ////////////////////////////////
видаляємо відступ в останніх постів
//////////////////////////////// */
div.mb-0 article,
article.mb-0
{
    margin: 0!important;
}

/* //////////////////////
позначка на відеороликові
////////////////////// */
.video-mark
{
    position: relative;
    display: block;
}

.video-mark::before
{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 2;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 461.001 461.001'%3E%3Cpath style='fill:%23f61c0d;' d='M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z'/%3E%3C/svg%3E");
    transition: .5s;
}

.video-mark::after
{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    z-index: 1;
    background: var(--white);
    transition: .5s;
}


.video-mark:hover::before
{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 461.001 461.001'%3E%3Cpath style='fill:%23ffffff;' d='M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z'/%3E%3C/svg%3E");
}

.video-mark:hover::after
{
    background: var(--red);
}



/* /////////////////
пропорційні картинки
///////////////// */
.picture
{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.picture picture
{
    display: block;
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.picture picture img
{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
}

/* //////////////////////////
дані під картинкою в артиклях
////////////////////////// */

.desc
{
    /* padding: 20px; */
    padding: 16px 20px 20px;
}

.desc p:last-child
{
    margin: 0;
}

/* //////////////////////////////
дата та автор у пості та сторінці
////////////////////////////// */
.meta
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.meta time
{
    margin: 0 10px 0 0;
    line-height: normal;
}

.meta span
{
    font-size: 11px;
    color: var(--gray-1);
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 1px solid var(--gray-1);
    line-height: normal;
}

/* /////////////////////////////////
вставка картинки з обтіканням справа
///////////////////////////////// */
main figure
{
    float: left;
    width: 50%;
    margin: 0 35px 60px 0;
    position: relative;
    top: 8px;
}

@media(max-width:996px)
{
    main figure
    {
        float: none;
        width: calc(100% - 40px);
        margin: 0 20px 30px;
    }
}

main figure picture
{
    display: block;
    margin: 0 0 18px;
}

main figure figcaption,
.figure-caption
{
    display: block;
    font-size: 13px;
    font-weight: 300;
    margin-top: 18px;
}

.date
{
    margin: 10px 0;
}

/* iframe */
.iframe-wrapper
{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-wrapper iframe
{
    display: block;
    width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}




/*
TODO: різні figcaption, тре уніфікувати
*/



/* temp */
.debug
{
    margin: 20px 0;
}
/* temp */



/* TODO: ul, ol (main); min-height, white (page.html) */