@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root
{
    --red: #bb2538;
    --black: #000;
    --white: #fff;
    --gray-1: #5e5a5b; 
    /* icons, article bg ... */

    --gray-2: #58585a;
    --gray-3: #e6e6e6; 
    /* aside hr */

    --bg-aside: #f0f0f2; 
    /* aside bg */

    --bg-main: #f7f7f8; 
    /* main bg */

    --bg-hr: #eaebed; 
    /* hr */

    --blue: #1570bd; 
    /* meter */

    --border-vidget: #ededed;
    --border-klychko: #e5e5e7;
    --border-video: #d06774;
    --border-longread: #8a8b8d;

    --fb: #515eb3;
    --tw: #6ab8ff;
    --tg: #389ce9;
}

body
{
    background: var(--bg-main);
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;

    overflow-x: hidden;
    /* height: 100%; */
}

p
{
    margin: 0 0 30px;
}

h1,h2,h3,h4,h5,h6
{
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4; 
}

img,
source
{
    max-width: 100%!important;
    height: auto!important;
    vertical-align: middle;
}

picture img,
picture source
{
    width: 100%;
    height: auto;
}


/* ////////////////////////////////////////
блок зі сайдбаром (зліва) і мейном (справа)
//////////////////////////////////////// */
.content
{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
}

/* лівий сайдбар */
.sidebar
{
    order: 1;
}

.main
{
    order: 2;
}

/* ///////////////////////////////////////
блок з мейном (зліва) і сайдбаром (справа)
/////////////////////////////////////// */
.content.reverse
{
    grid-template-columns: 1fr 300px;
}

.content.reverse .main
{
    order: 1;
}

.content.reverse .sidebar
{
    order: 2;
}



/* //////////////
дата повідомлення
////////////// */
time
{
    display: block;
    font-size: 11px;
    line-height: 20px;
    color: var(--gray-1);
    text-transform: uppercase;
}
/* [video] буде біла або червона дата */
/* margin різні у різних блоках */


/* ////////////////////////////////
видаляємо відступ в останніх постів 
//////////////////////////////// */
div.mb-0 article,
article.mb-0
{
    margin: 0!important;
}



/* temp */
.debug
{
    margin: 20px 0;
}
/* temp */