#special
{
    padding: 0 0 40px;
    margin: auto;
    background: var(--white);
}

#special h2, 
#special h3, 
#special h4
{
    margin: 0 0 30px;
}

/* шар-батони */
#special .share-buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#special .share-buttons a
{
    margin: 0 5px;
}

/* розтягуємо картинку ширше */
#special [data-embed]
{
    margin-left: -200px;
    margin-right: -200px;
    margin-bottom: var(--gap);
}

@media(max-width:1140px)
{
    #special [data-embed]
    {
        margin-left: 0;
        margin-right: 0;
    }
}