
.title-48,
.title-30,
.title-24,
.title-21,
.title-18,
.title-15
{
    font-weight: 900;
    margin: 0 0 20px;
}

.title-48 a,
.title-30 a,
.title-24 a,
.title-21 a,
.title-18 a,
.title-15 a
{
    text-decoration: none;
    color: var(--gray-1);
    transition: .5s;
}

.title-48 a:hover,
.title-30 a:hover,
.title-24 a:hover,
.title-21 a:hover,
.title-18 a:hover,
.title-15 a:hover
{
    color: var(--red);
}

/* //////////////
article + longrid
////////////// */
.title-48
{
    font-size: 48px;
}

/* /////////
home + video
///////// */
.title-30
{
    font-size: 30px;
    line-height: 1;
}

/* /////////////
home - ЛЬВІВЩИНА
///////////// */
.title-24
{
    font-size: 24px;
    line-height: 1;
}

.title-21
{
    font-size: 21px;
    line-height: 24px;    
}

/* червоний */
.title-21.red
{
    color: var(--red);
}

/* чорний */
.title-21.black
{
    color: var(--black);
}

/* /////
category 
///// */
.title-18
{
    font-size: 18px;
    line-height: 1.35;
}

.title-15
{
    font-size: 15px;
    line-height: 1.35;
}

/* ////////////////
[заголовок article]
//////////////// */
.title-18 a
{
    color: var(--gray-1);
    text-decoration: none;
}

.title-18 a:hover
{
    color: var(--red);
}

/* /////////
модифікатори 
///////// */
.title-48.red,
.title-30.red,
.title-24.red,
.title-21.red,
.title-18.red,
.title-15.red,
.title-48.red a,
.title-30.red a,
.title-24.red a,
.title-21.red a,
.title-18.red a,
.title-15.red a
{
    color: var(--red);
}

.title-48.red a:hover,
.title-30.red a:hover,
.title-24.red a:hover,
.title-21.red a:hover,
.title-18.red a:hover,
.title-15.red a:hover
{
    color: var(--black);
}

.title-48.black a,
.title-30.black a,
.title-24.black a,
.title-21.black a,
.title-18.black a,
.title-15.black a
{
    color: var(--black);
}

.title-48.black a:hover,
.title-30.black a:hover,
.title-24.black a:hover,
.title-21.black a:hover,
.title-18.black a:hover,
.title-15.black a:hover
{
    color: var(--red);
}

.title-48.white,
.title-30.white,
.title-24.white,
.title-21.white,
.title-18.white,
.title-15.white,
.title-48.white a,
.title-30.white a,
.title-24.white a,
.title-21.white a,
.title-18.white a,
.title-15.white a
{
    color: var(--white);
}

.title-48.white a:hover,
.title-30.white a:hover,
.title-24.white a:hover,
.title-21.white a:hover,
.title-18.white a:hover,
.title-15.white a:hover
{
    /* color: var(--black); */
    opacity: .4;
}


/* /////////////////
заголовок в лонгріді
///////////////// */

/* білий фон */
.title
{
    /* display: flex; */
    /* flex-flow: column; */
    /* justify-content: center; */
    /* align-items: center; */

    display: grid;
    place-items: center;

    background: var(--white);
    min-height: 270px;
}

.title .title-48
{
    position: relative;
    border-bottom: 1px solid var(--bg-hr);
    /* width: 620px; */
    text-align: center;
    padding-bottom: 7px;
    margin-bottom: 47px;

    position: relative;
    z-index: 2;
}

.title .title-48::after
{
    content: '';
    display: block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFIAAAAgCAMAAAC2GN9jAAAAkFBMVEUAAADd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4ONygpQbAAAAL3RSTlMA8LYkaalIMxL0jE4ZBgLhxcCjWmQuKwza19LKh4N7d2s9H/nq5d6xmFNvX7qdRKGmbIoAAAFXSURBVEjHzdXJdoJQEATQUlEcEBVxwDlOOCTp//+7bCJNkdPkHQ4L765X8IrqB2wdUQ8szjpFQKTTZYG7qAFMc1F9YKXTBNjodDrCF3WAqduQTBto6rQM4Yn6wPGk0wamcCmZNXDTqdGlSKZYXOjhpolkRkPsRM0xE7UH1jqNYWvn3ipAzOfs5UKmSJIQpr6oWeGcwxGd84siMR1EdcrPyZGYBqJi+vQ3IKWQn6K+YfKFOrHUqUmR9AJ6+BOmIJd+RJ9+BTxE+fTwLUzDK61JpNP5z+K1/FYGtrFkriG2olrG4v2nTVnF5uL14WrjXEhXHmU1F7VzXjz7hvQKhewmVEhHM74hEyrkYNV8SQMQ5xuSC4kQFrcbclwsZDWTkkJWE5UUspotLS8XspqYCnmnQlbT4eWd7r2Xqu/Iv+w6cCFrkVAh6/BJy1uHlApZh730Gr8uPt7UDyMPreFQ8LHdAAAAAElFTkSuQmCC');
    width: 82px;
    height: 32px;
    position: absolute;
    left: calc(50% - 41px);
    bottom: -33px;
}

.title p
{
    color: var(--gray-1);
    margin: 0;

    position: relative;
    z-index: 2;
}

/* фон картинкою */
.title.bg-image .title-48::after
{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFIAAAAgCAMAAAC2GN9jAAAAkFBMVEUAAADd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4OPd4ONygpQbAAAAL3RSTlMA8LYkaalIMxL0jE4ZBgLhxcCjWmQuKwza19LKh4N7d2s9H/nq5d6xmFNvX7qdRKGmbIoAAAFXSURBVEjHzdXJdoJQEATQUlEcEBVxwDlOOCTp//+7bCJNkdPkHQ4L765X8IrqB2wdUQ8szjpFQKTTZYG7qAFMc1F9YKXTBNjodDrCF3WAqduQTBto6rQM4Yn6wPGk0wamcCmZNXDTqdGlSKZYXOjhpolkRkPsRM0xE7UH1jqNYWvn3ipAzOfs5UKmSJIQpr6oWeGcwxGd84siMR1EdcrPyZGYBqJi+vQ3IKWQn6K+YfKFOrHUqUmR9AJ6+BOmIJd+RJ9+BTxE+fTwLUzDK61JpNP5z+K1/FYGtrFkriG2olrG4v2nTVnF5uL14WrjXEhXHmU1F7VzXjz7hvQKhewmVEhHM74hEyrkYNV8SQMQ5xuSC4kQFrcbclwsZDWTkkJWE5UUspotLS8XspqYCnmnQlbT4eWd7r2Xqu/Iv+w6cCFrkVAh6/BJy1uHlApZh730Gr8uPt7UDyMPreFQ8LHdAAAAAElFTkSuQmCC');
}

.title.bg-image p
{
    color: var(--white);
}

/* фонова картинка */
.title.bg-image
{
    height: 666px;
    position: relative;
}


.title.bg-image .title-picture
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title.bg-image picture
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* z-index: 1; */

    /* height: 100%; */
    /* width: 100%;     */

    /* object-fit: cover;
    width: 100%;
    height: 100%; */
}

.title.bg-image picture source,
.title.bg-image picture img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ///////////////////////////
короткий підпис під заголовком
/////////////////////////// */
.desc
{
    text-align: center;
    position: relative;
    z-index: 3;
}

.title.bg-image .desc
{
    color: var(--white);
}

/* .title .wrapper-longread
{
    display: grid;
    place-items: center;
} */

